<%= link_to 'Configurar Clientes', customers_path, class: 'btn btn-primary' %>

<h2>Chat</h2>
<%= link_to 'Configurar Questões', questions_path, class: 'btn btn-primary' %>
<%= link_to 'Configurar Respostas', answers_path, class: 'btn btn-primary' %>