.contact-modal-box{
  position: fixed;
  bottom: -480px;
  left: calc(50vw - 180px);
  margin: 16px;
  padding: 16px;
  color: white;
  background-color: #4e9445;
  width: 336px;
  height:440px;
  transition: 2s;
  z-index: 4901;
}

.contact-modal-text{
  margin: 8px 0;
}

.contact-form-text{
  margin-top: 8px;
}

.contact-modal-text:first-child{
  margin-top: 0;
}

.contact-modal-set-icon{
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 32px;
}

.contact-modal-icon{
  max-width: 100%;
  max-height: 100%;
}

.contact-modal-form{
  position: relative;
  width: 240px;
  margin: 8px 0;
  .form-control{
    border-radius: 1em;
    font-size: .8rem;
  }
}

.contact-modal-buttons{
  padding: 4px;
  margin: 4px;
  border-radius: 1em;
  font-size: 12px;
  border-style: solid;
  width: 68px;
  display: flex;
  justify-content: center;
  border-width: thin;
  transition: .2s;
  a{
    color: white;
  }
}

.contact-modal-buttons:hover{
  background-color: white;
  color: #4e9445;
}

.contact-confirm-button{
  font-size: 12px;
  position: absolute;
  right: -72px;
  bottom: 49px;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 1em;
  transition: .2s;
}

.contact-confirm-button:hover{
  background-color: white;
  color: #4e9445;
}

.contact-modal-kill{
  position: absolute;
  right: 16px;
  top: 16px;
}

.contact-modal-end-position{
  transform: translate(0, -536px);
  transition: 2s;
}

.contact-modal-disappear{
  display: none;
}

.contact-modal-background{
  visibility: hidden;
  background-color: black;
  opacity: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 4899;
  transition: opacity 2s;
}
